.card-container{
    background-color: aliceblue;
    width: 70%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    margin-left: 15%;
    margin-bottom: 10px;
}
table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #2848e6;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #2848e6;
    border-style: solid;
    padding: 1vh;
    text-align: center;
}

table.GeneratedTable thead {
    background-color: #dad8d8;
}

.center{
    text-align: center;
}